<ul class="filt">
  <li><a href="#" class="active">Все</a></li>
  <li><a href="#">Дизайн</a></li>
  <li><a href="#">Веб-разработка</a></li>
  <li><a href="#">Мобильные приложения</a></li>
  <li><a href="#">CRM</a></li>
</ul>