<main class="page">
  <div class="screen for_screen" id="screen5">
    <h1>БЛОГ</h1>
  </div>
  <div class="screen filtr wrap mediafont">
    <ul class="filt">
      <li><a href="#" class="active">Дизайн</a></li>
      <li><a href="#">Веб-разработка</a></li>
      <li><a href="#">Мобильные приложения</a></li>
      <li><a href="#">CRM</a></li>
    </ul>
    <div class="blogs_wrap">
      <div class="blogs_wrap__item">
        <!--<%= image_tag "blogitem.jpeg" %>-->
        <div class="blogs_wrap__item_dos">
          <p>22.05.1997</p>
          <h3>Гульмен разгулялся в безысходных скитания мэддисона</h3>
          <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
            текстов на латинице с начала XVI века. В то время некий
            безымянный печатник создал большую коллекцию размеров
            и форм шрифтов, используя Lorem Ipsum для распечатки
          </p>
          <a href="#">ПОДРОБНЕЕ</a>
        </div>
      </div>
      <div class="blogs_wrap__item">
        <!--<%= image_tag "blogitem.jpeg" %>-->
        <div class="blogs_wrap__item_dos">
          <p>22.05.1997</p>
          <h3>Гульмен разгулялся в безысходных скитания мэддисона</h3>
          <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
            текстов на латинице с начала XVI века. В то время некий
            безымянный печатник создал большую коллекцию размеров
            и форм шрифтов, используя Lorem Ipsum для распечатки
          </p>
          <a href="#">ПОДРОБНЕЕ</a>
        </div>
      </div>
      <div class="blogs_wrap__item">
        <%= image_tag "blogitem.jpeg" %>
        <div class="blogs_wrap__item_dos">
          <p>22.05.1997</p>
          <h3>Гульмен разгулялся в безысходных скитания мэддисона</h3>
          <p>c
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и
            вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
            текстов на латинице с начала XVI века. В то время некий
            безымянный печатник создал большую коллекцию размеров
            и форм шрифтов, используя Lorem Ipsum для распечатки
          </p>
          <a href="#">ПОДРОБНЕЕ</a>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/contactform'%>


</main>