<% case @order.site_type%>
<% when "corp_site"%>
  <ul><h3>Тип сайта:</h3>
    <li>Корпоративный сайт</li>
  </ul>
  <% case @order.site_design%>
<% when "300"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Свой дизайн</li>
    </ul>
  <% when "100"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Шаблонный дизайн</li>
    </ul>
  <% when "500"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Авторский дизайн</li>
    </ul>
  <% end %>


<% when "portal_site"%>
  <ul><h3>Тип сайта:</h3>
    <li>Сайт-портал</li>
  </ul>
  <% case @order.site_design%>
<% when "600"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Свой дизайн</li>
    </ul>
  <% when "200"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Шаблонный дизайн</li>
    </ul>
  <% when "1000"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Авторский дизайн</li>
    </ul>
  <% end %>


<% when "lending"%>
  <ul><h3>Тип сайта:</h3>
    <li>Лендинг</li>
  </ul>
  <% case @order.site_design%>
<% when "150"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Свой дизайн</li>
    </ul>
  <% when "50"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Шаблонный дизайн</li>
    </ul>
  <% when "250"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Авторский дизайн</li>
    </ul>
  <% end %>


<% when "ecommerce"%>
  <ul><h3>Тип сайта:</h3>
    <li>Интернет-магазин</li>
  </ul>
  <% case @order.site_design%>
<% when "450"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Свой дизайн</li>
    </ul>
  <% when "150"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Шаблонный дизайн</li>
    </ul>
  <% when "750"%>
    <ul><h3>Тип дизайна:</h3>
      <li>Авторский дизайн</li>
    </ul>
  <% end %>
<% end %>