<div id="screen_form">
  <div class="wrap">
    <div class="form_calc">
      <p>Имя:</p>
      <input type="text" name="order[user_name]">
      <p>E-mail:</p>
      <input type="email" name="order[user_email]">
      <p>Телефон:</p>
      <input type="tel" name="order[user_phone]">
      <p>Пароль:</p>
      <input type="password" name="order[user_password]">
      <p>Подтверждение пароля:</p>
      <input type="password" name="order[user_password_confirmation]">
      <p>Название заказа:</p>
      <input type="text" name="order[order_title]">
      <p>Описание задания:</p>
      <textarea name="order[order_detail]"></textarea>
      <button name="button" type="submit" class="calc_btn">Отправить заказ</button>
    </div>
  </div>
</div>